.card-producto {
    background: var(--blanco);
    border-radius: 1.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.boton-compra {
    background-color: #7c50bf;
}

@media (max-width:600px){
    th {
        width: 100% !important;
        display: block !important;
    }
}