header {
    background-color:  #b41039;
}

.icons {
    color: white !important;
}

.shop_image {
    background: url('../assets/images/shop_lux.svg') center no-repeat;
    min-width:  30px;
    min-height: 30px;
}

.shop_cantidad {
    font-size: 0.8rem;
    color: #b41039;
    font-weight: bold;
}
