
/** Producto **/

.info-producto .precio {
    font-size: 1.8rem;
}
.info-producto .btn-success {
    background-color: #53ebc4 !important;
    border-color: #3ba188!important;
}
.info-producto .btn-success:hover {
    background-color: #14ce9f!important;
}

