.card-producto {
    background: var(--blanco);
    border-radius: 1.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

/** Producto **/

.info-producto .precio {
    font-size: 1.8rem;
}
.info-producto .btn-success {
    background-color: #53ebc4 !important;
    border-color: #3ba188!important;
}
.info-producto .btn-success:hover {
    background-color: #14ce9f!important;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.links {
  color: black;
 & :hover {
   color: #b41039;
   text-decoration: underline;
 }
}